/* Uso de fuentes en CSS
Space Grotesk:
font-family: "Space Grotesk", system-ui;
Poppins:
font-family: "Poppins", sans-serif;
Playwrite:
font-family: "Playwrite US Trad", cursive; */

/* Reseteo de estilos globales for defecto de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-light: #F7F4EA;
  --bg-dark: #c8c6be;
  --green-light: #27A69E;
  --green-dark: #0B312E;
  --blue-lighter: #b4d6f2;
  --blue-light: #2196F3;
  --blue-dark: #08253D;
  --red-light: #D73166;
  --red-dark: #5A1017;
  --grey-light: #F2F2F2;
  --grey-dark: #9f9f9f;
}

html {
  background-color: var(--bg-light);
}