<div class="landing-sidebar">
  <div class="logo">
    <a href="">Frodge</a>
  </div>
  <div class="sidebar-text" >
    <h2>Con Frodge obtén información sobre cómo almacenar tus alimentos para que se conserven mejor, arma tu despensa para saber
    con qué ingredientes cuentas en casa y obtén recetas con los ingredientes que tienes a la mano, todo en un solo lugar.</h2>
  </div>
  <div class="landing-buttons" >
    <a class="signup-button" href="">Registrarme</a>
    <a class="login-button" href="">Iniciar Sesión</a>
    <a class="continue-button" href="">Seguir sin registrarme</a>
  </div>
</div>